@font-face {
  font-family: Candara;
  src: local("Candara"),
       url('/style/Candara.ttf');
}

#nav {
  list-style-type: none;
  margin-top: 2em;
}
#nav li {
  margin: 1em 0 1em 0;
}

h1 {
  font-family: Candara ;
}

h2 {
  margin-top: 2em;
}

p, li, a {
  font-family: sans-serif;
}

#container {
  width: 1000px;
  margin: 0 auto;
  text-align: left;
  background-color: white;
  display: block;
  padding: 10px;
}

.candara {
  font-family: Candara, sans-serif;
  letter-spacing: -0.05em;
}

a {
  color: #3366ff;
}

#header {
  border-bottom: solid 5px #eee;
}

#klogo-container {
  float:left;
}

#title {
  float:left;
}
#sep {
  text-align:right ;
  clear:both;
}
#sep > a {
  margin-left:10px;
  background-color: #eeeeee;
  padding:5px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-decoration: none;
}
#sep > a:hover {
  background-color: black;
  color: rgb(255, 210, 0)
}

code, pre {
  font-size: large;
}

pre {
  background-color: #eeeeee;
  padding: 5px;
}

.toptext {
  font-size: 1.25em;
  padding: 0 50px 0 50px;
}

footer {
  font-size: small;
  border-top: solid 3px #eeeeee;
}

p {
  line-height: 1.5em;
}

/* Desktop */

body {    
  display: grid;
  grid-template-columns: 1fr 350px 800px 1fr;
  grid-template-rows: 125px auto;
  font-family: sans-serif;
}

#logo {
  grid-column: 2/4;
  background-image: url("KurrawongAI_350.png") ;
  background-repeat: no-repeat;
  height: 150px;
}

#nav {
  grid-column: 2;
}

#content {
  grid-column: 3;
}

#footer {
  grid-column: 3; 
  margin-top: 50px; 
  border-top:solid 1px black; 
  padding:20px;
}

/* Mobile */

@media (max-width: 1000px) {

  body {    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto;
    font-family: sans-serif;
  }

  #logo {
    grid-column: 1;
    background-image: url("KurrawongAI_250.png") ;
    background-repeat: no-repeat;
    height: 100px;    
  }
  
  #nav {
    grid-column: 1;
  }
  
  #content {
    grid-column: 1;
  }
  
  #title {
    display: none;
  }

  #footer {
    grid-column: 1; 
    margin-top: 50px; 
    border-top:solid 1px black; 
    padding:20px;
  }

  #graph {
    width:200px;
  }

}