@font-face {
  font-family: Candara;
  src: local("Candara"),
       url('/style/Candara.ttf');
}

body {    
  display: grid;
  grid-template-columns: 1fr 200px 800px 1fr;
  grid-template-rows: 200px auto;
  font-family: sans-serif;
}

#klogo {
  width: 200px;
}

#nav {
  list-style-type: none;
  margin-top: 2em;
}
#nav li {
  margin: 1em 0 1em 0;
}

h1 {
  font-family: Candara ;
}

p, li, a {
  font-family: sans-serif;
}


h2 {
  margin-top: 2em;
}

#container {
  width: 1000px;
  margin: 0 auto;
  text-align: left;
  background-color: white;
  display: block;
  padding: 10px;
}

.candara {
  font-family: Candara, sans-serif;
  letter-spacing: -0.05em;
}

a {
  color: #3366ff;
}

#header {
  border-bottom: solid 5px #eee;
}

#klogo-container {
  float:left;
}

#title {
  float:left;
}
#sep {
  text-align:right ;
  clear:both;
}
#sep > a {
  margin-left:10px;
  background-color: #eeeeee;
  padding:5px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-decoration: none;
}
#sep > a:hover {
  background-color: black;
  color: rgb(255, 210, 0)
}

code, pre {
  font-size: large;
}

pre {
  background-color: #eeeeee;
  padding: 5px;
}

.toptext {
  font-size: 1.25em;
  padding: 0 50px 0 50px;
}

footer {
  font-size: small;
  border-top: solid 3px #eeeeee;
}

p {
  line-height: 1.5em;
}