<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>{{page.title}}</title>
        <link rel="stylesheet" type="text/css" href="style/kurrawong.css" media="screen" />
    </head>
    <body>
        <div id="logo"></div>
        <div id="nav">
            {% include nav.html %}
        </div>
        <div id="content">            
            {{ content }}
        </div>
        <div id="footer">
            Kurrawong AI <span style="color:#999;">|</span> ABN 31 353 542 036 <span style="color:#999;">|</span> <a href="info@kurrawong.net">info@kurrawong.net</a> <span style="color:#999;">|</span> ph: +61 0477 560 177
        </div>
    </body>
</html>